.modalItem{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 20px;
    cursor: pointer;
    height: 60px;
    transition: background-color 0.3s ease; 
    padding-top: 5px;
    padding-bottom: 5px;
}

.modalItem:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
}

.modalDescription{
    margin-left: 16px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modalDescription p {
    color: var(--color-primary)  
}