.container{
    width: 700px;
    padding: 0 0 16px;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--color-bg-secondary);
    transition: background-color 0.3s ease-in-out;
}

.header{
    height: 76px;
    display: flex;
    align-content: center;
    margin: 24px 40px 0;
    justify-content: space-between;
}

.header h1{
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -0.4px;
    text-align: center;
    color: var(--color-primary)  
}

.card{
    height: 96px;
    margin: 0 16px;
    padding: 24px;
}
.cardResult{
    margin: 0 16px;
    height: 48px;
    font-family: 'Gilroy';
    padding: 10px 16px;
}
.series{
    display: flex;
    align-items: center;
}
.bigNumber{
    font-family: 'Space Mono', monospace;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: right;
    color: var(--color-primary);
}
.smallNum{
    font-family: 'Gilroy';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: normal;
    color: var(--color-primary);
    float: right;
}

.swapButton{
    cursor: pointer !important;
}